.ab{
    width: 20px;
}


.aa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 6px hsl(200, 15%, 8%);
}


.gri{
    background-color: yellow;
    width: 230px;
    height: 310px;
    margin: 30px;

}
.gr{
    margin-left: 20px;
    height: 150px;
}
.o{
    height: 150px;
    width: 230px;

}

.grip{
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    gap: 20px;
    justify-content: center;

}

.qq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    align-content: center;
    
}
.as{
    margin-left: 120px;
    margin-top: 30px;
}

.kk{
    margin-top: 30px;
}

@media screen and (min-width: 100px) {
    .aa{
        width: 100vw;
        font-size: 4vw;
        
    }
    .ab{
        width: 4vw;
    }
    .as{
    margin-left: 2vw;
    width: 30vw;
    }
    .kk{
        margin-right: 7vw;
    }
    .grip{
        display: grid;
        grid-template-columns: 80vw;
        justify-content: center;
    }
    .grip-all{
        width: 94vw;
        padding: 3vw;
    }
    .grip-a{
        width: 100vw;
    }
}

@media screen and (min-width: 760px) {
    .aa{
        width: 100vw;
        font-size: 2vw;
        
    }
    .ab{
        width: 2vw;
    }
    .as{
    margin-left: 2vw;
    width: 20vw;
    }
    .kk{
        margin-right: 7vw;
    }
    .grip{
        display: grid;
        grid-template-columns: 40vw 40vw ;
        justify-content: center;
        
    }
    .grip-all{
        width: 94vw;
        padding: 3vw;
    }
    .grip-a{
        width: 100vw;
    }
}

@media screen and (min-width: 1000px) {
    .aa{
        width: 100vw;
        font-size: 1.8vw;
        
    }

    .ab{
        width: 2vw;
    }
    .as{
    margin-left: 2vw;
    width: 20vw;
    }
    .kk{
        margin-right: 7vw;
        font-size: 1.5vw;
    }
    .grip{
        display: grid;
        grid-template-columns: 30vw 30vw 30vw ;
        justify-content: center;
        
    }
    .grip-all{
        width: 94vw;
        padding: 3vw;
    }
    .grip-a{
        width: 100vw;
    }
}

@media screen and (min-width: 1200px) {
    .aa{
        width: 100vw;
        font-size: 1.8vw;
        
    }

    .ab{
        width: 2vw;
    }
    .as{
    margin-left: 2vw;
    width: 20vw;
    }
    .kk{
        margin-right: 7vw;
        font-size: 1.5vw;
    }
    .grip{
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw ;
        justify-content: center;
        
    }
    .grip-all{
        width: 94vw;
        padding: 3vw;
    }
    .grip-a{
        width: 100vw;
    }
}

